/**
/*  @title          Binary Sanctity
/*  @author         Jonathan Smith
/*  Course Section: CMIS201-HYB2 (Seidel)
/*  @file           UIView.css
/*  @description    Styling rules for JavaFX elements of Binary Sanctity
 **/

/* Custom classes and IDs */

.root-container
{
    -fx-alignment: center;
    -fx-padding: 5;
    -fx-spacing: 5;
    -fx-pref-width: 800px;
    -fx-pref-height: 600px;
}

#button-bar
{
    -fx-padding: 5;
    -fx-hgap: 5;
    -fx-vgap: 5;
}

.score-item-malware
{
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.score-item-path
{
    -fx-font-weight: bold;
    -fx-text-fill: rgba(255,255,255,0.4);
}

.score-item-value
{
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
    -fx-max-width: 96px;
    -fx-min-width: 96px;
}

.mono-text
{
    -fx-font-family: Monospaced;
    -fx-font-size: 11pt;
}

.status-bar
{
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 2px;
    -fx-spacing: 5;
}

.status-label
{
    -fx-border-color: #2B2B2B #2B2B2B #4C5052 #4C5052;
    -fx-max-width: infinity;
    -fx-label-padding: 2 5 2 5;
    -fx-border-radius: 3px;
}

#analyze-text-checkbox
{
    -fx-padding: 10;
}

.analysis-text
{
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-font-size: 12pt;
    -fx-wrap-text: false;
}

.analysis-text .content
{
    -fx-background-radius: 0;
}

.section-number
{
    -fx-alignment: CENTER_RIGHT;
}

/* Control types */

CheckBox,
GridPane,
HBox,
Label,
ListCell,
ListView,
Scene,
SplitPane,
TableView,
TabPane,
VBox
{
    -fx-background-color: #3C3F41;
    -fx-text-fill: white;
}


/* Button */

.button
{
    -fx-background-color: #4C5052;
    -fx-background-radius: 3px;
    -fx-border-color: #4C5052;
    -fx-font-weight: bold;
    -fx-text-fill: #BABAA7;
    -fx-border-radius: 3px;
}

.button:hover, .button:pressed
{
    -fx-background-color: #365880;
}

.button:hover
{
    -fx-border-color: #365880;
}

.button:pressed
{
    -fx-background-insets: 3px;
    -fx-border-color: -fx-focus-color;
}

/* CheckBox */

.check-box .box,
.check-box .mark
{
    -fx-background-color: #4C5052;
}

.check-box:selected .mark
{
    -fx-background-color: #BABAA7;
}

/* ListView */

.list-cell, .list-cell *
{
    -fx-background-color: #3C3F41;
    -fx-border-color: #3C3F41;
    -fx-padding: 2px;
}

.list-cell:selected
{
    -fx-border-color: -fx-focus-color;
}

/* SplitPane */

.split-pane *.split-pane-divider
{
    -fx-background-color: #4C5052;
}

/* TabPane */

.tab-pane *.tab-content-area
{
    -fx-background-color: #3C3F41;
    -fx-text-fill: white;
    -fx-border-color: #4C5052;
}

.tab
{
    -fx-border-radius: 3px;
    -fx-background-color: #3C3F41;
    -fx-text-fill: white;
    -fx-border-color: #4C5052;
}

.tab:selected, .tab:selected *.tab-label
{
    -fx-background-color: #4C5052;
}

.tab:focused
{
    -fx-border-radius: 3px;
}

/* ProgressBar */

.progress-bar, .progress-bar *.track
{
    -fx-background-color: #4C5052;
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
}

/* ScrollBar */

.scroll-bar,
.scroll-bar *.track,
.scroll-bar *.filler,
.scroll-bar *.corner,
*.scroll-pane *.corner,
*.scroll-pane *.filler,
*.virtual-flow *.corner
{
    -fx-background-color: #3C3F41;
}

.scroll-bar *.thumb
{
    -fx-background-color: #4C5052;
}

.scroll-bar *.thumb:hover,
.scroll-bar *.thumb:pressed
{
    -fx-background-color: #565656;
}

.scroll-bar *.increment-button,
.scroll-bar *.decrement-button
{
    -fx-background-color: #4C5052;
}

.scroll-bar *.increment-arrow,
.scroll-bar *.decrement-arrow
{
    -fx-shape: " ";
}

/* TableView */

.table-view,
.table-view .column-header,
.table-view *.filler,
.tree-table-view,
.tree-table-view .column-header,
.tree-table-view *.filler
{
    -fx-background-color: #3C3F41;
    -fx-text-fill: white;
}

.table-view *.table-cell,
.tree-table-view *.tree-table-cell
{
    -fx-text-fill: white;
}

.table-row-cell,
.tree-table-row-cell
{
    -fx-background-color: #3C3F41;
    -fx-border-color: #3C3F41;
    -fx-table-cell-border-color: #3C3F41;
    -fx-text-fill: white;
}

.table-view *.table-cell:selected,
.table-row-cell:selected,
.tree-table-view *.tree-table-cell:selected,
.tree-table-row-cell:selected
{
    -fx-background-color: #4C5052;
}

.table-view .column-header .label,
.tree-table-view .column-header .label
{
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 0 0 5;
}

.table-view .column-header-background .nested-column-header .table-column,
.tree-table-view .column-header-background .nested-column-header .table-column
{
    -fx-border-color: transparent #BABAA7 transparent #BABAA7;
}

/* TextArea */

.text-area
{
    -fx-control-inner-background: #3C3F41;
    -fx-text-fill: white;
}
